body {
   background-color: #130032;
   color: #91d8cb
}

.notification {
   background-color: yellow;
   color: brown;
   font-size: small;
   width: 20%;
   margin: auto;
   border: 3px solid brown;
}

.notification h1 {
   font-size: medium;
   color: red;
   text-align: center;
}

